.contactsBlock {
    height: 100vh;
    background-color: mistyrose;
    padding: 6em 0 6em 0;
}

.contactsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form {
    width: 100%;
    min-height: 400px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    height: 50px;
}

.textarea {
    min-height: 200px;
    max-height: 500px;
}