@import "../common/styles/sass/variables";

.contactsBlock {
    min-height: 100vh;
    background-color: $bgColor;
    .contactsContainer {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .form {
        max-width: 450px;
        width: 100%;
        min-height: 400px;
        margin-bottom: 60px;
        border-radius: 15px;
        background-color: $secondColor;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        box-sizing: border-box;
        p {
            font-family: $firstFont;
            font-weight: 700;
            color: $firstColor;
            text-transform: uppercase;
            margin-left: 7px;
        }
        .input {
            font-family: $firstFont;
            min-height: 50px;
            border-radius: 15px;
            border:  solid $firstColor 1px;
            font-size: 18px;
            padding-left: 6px;
            &:focus {
                font-family: $firstFont;
                outline: none;
                color: white;
                font-size: 18px;
                background: rgba(171, 84, 41, .7);
            }
        }

        .textarea {
            font-family: $firstFont;
            min-height: 180px;
            border-radius: 15px;
            border:  solid $firstColor 1px;
            padding-top: 12px;
            padding-left: 6px;
            font-size: 18px;
            &:focus {
                font-family: $firstFont;
                outline: none;
                background: rgba(171, 84, 41, .7);
                color: white;
                font-size: 18px;
            }
        }

        .button {
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }
}







