@import "../styles/sass/variables.scss";
.button {
    border-radius: 5px;
    font-family: $firstFont;
    font-size: 16px;
    border: none;
    //background-color: white;
    text-transform: uppercase;
    color: black;
    padding: 10px 10px;
    font-weight: 700;
    position: relative;
  &:active {
    //background-color: black;
    color: white;
    //transform: translateY(2px);
  }
  &::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 6px;
    background-color: white;
    border-radius: 3px;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 14px;
    z-index: -1;
  }
  &:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 90%;
    border-radius: 3px;
    background-color: white;
    transform: translate(-50%, 50%);
    left: 51%;
    bottom: 28px;
    z-index: -1;
  }
  &:active::after {
    background-color: black;
  }

}


