.mySuggestionBlock {
    height: 30vh;
    background-color: beige;
    padding: 6em 0 6em 0;
}

.mySuggestionContainer {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}