@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    scroll-behavior: smooth;
    @media screen and (max-width: 950px) {
        display: none;
    }
    .link {
        padding: 16px 0 20px;
        display: inline-block;

        @include text($secondFont, 18px, 400, #000);

        line-height: 30px;
        text-decoration: none;

        &:hover {
            color: $firstColor;
        }

    }
}






