@import "../common/styles/sass/variables";

.footerBlock {
    background-color: $firstColor;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.footerContainer h3 {
    margin: 10px;
}
.footerContainer h2 {
    margin: 10px;
}

.links {
    width: 260px;
    height: 40px;
    //border: solid 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}